head{
    background-color: blue;
}

h1{
    font-family: 'Times New Roman', 
}
h2{
    font-family: 'Times New Roman', 
}

nav ul li{
    font-weight: bolder;
}

#container{
    padding: 20px;
}
.conteudo{
    line-height: 1.5;
}
form{
    border: solid 1px gray;
    padding: 10px;
}
p{
    color: green;
}
button{
    background-color: blue;
    color: white;
}
footer{
    border-top: solid 2px red;
}